extends layout

block content
    h1= title
    button#Bam(
      type='submit'
      style='width: 250px; height: 250px; background-color: red;'
      onclick="if you plan to use single quotes here, use double quotes outer"
   )
